<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="EI=edge">
        <meta name="viewport" content="width=device-width, inital-scale=1.0">
        <title>Node JS</title>
        <style>
            body {
                color:aquamarine;
                background:darkslategray;
                text-align: center;
                padding-top: 100px;
            }
        </style>
    </head>
    <body>
        <h1>AMOGUS!</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, numquam dolor! Repellendus provident possimus ut eveniet ipsam, sapiente similique nemo magni eos rerum veritatis ea cum voluptatem, blanditiis fugit impedit!</p>
        <img src = "https://static01.nyt.com/images/2019/02/05/world/05egg/15xp-egg-promo-superJumbo-v2.jpg">
    </body>
</html>